@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;700&family=Playfair+Display:wght@500&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@700&family=Roboto+Slab&family=Source+Code+Pro&display=swap");
.social, .card-infos, .product-search .product .card-mobile, .search-filter .input-box .search, nav .nav-content .toggle-btn,
nav .nav-content span a, nav .nav-content, nav, #eclipse, .intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds, .intro .logo .logo-parts {
  position: relative;
  display: inline-block;
}

.search-filter .input-box .b-close, .search-filter .input-box .search .icon-search {
  position: absolute;
  top: 50%;
  font-size: 20px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content .product-slider .next, .content .product-slider .prev, .close {
  z-index: 3;
  display: inline-flex;
  border: none;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .content .product-slider .next, .content .product-slider .prev, .close {
    top: 170px;
  }
}

.titulo-f b, .titulo b {
  color: #f8f9fa;
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d81159, 0 0 0.5em #d81159, 0 0 0.1em #d81159, 0 10px 3px #000814;
}

.content .product-slider .next .icon, .content .product-slider .prev .icon, .close .icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.ps-card, .content .product-img .img-item, .content .bg-shape, .content {
  display: flex;
  align-items: center;
}

.form-contact .ctn-inputs .effect-input, .preg-frec .resp-cont .resp, .service ul li, .service p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.product-ctr .product-inf ul li, .m-section h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.card-infos h3, .search-filter .filter-btn, .search-filter .input-box input, .card-sw .detail span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.card-infos h2, .card-sw .detail h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.preg-frec .preg .btn-preg, .service h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.product-ctr .product-inf h3, .m-select select {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

::-webkit-scrollbar {
  display: none;
}

#particles-js {
  position: fixed;
  background: #f8f9fa;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.intro {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: #11151c;
  transition: 1s;
  position: fixed;
  flex-direction: column;
}
.intro img {
  height: 40%;
  width: 40%;
  object-fit: contain;
}
.intro .logo {
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
  color: #f8f9fa;
}
.intro .logo .logo-parts {
  bottom: -20px;
  opacity: 0;
}
.intro .logo .logo-parts.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.intro .logo .logo-parts.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 576px) {
  .intro .logo {
    font-size: 2.5rem;
  }
}

.lds {
  width: 80px;
  height: 80px;
}
.lds div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  background: #f8f9fa;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  border-radius: 50%;
}
.lds div:nth-child(1) {
  left: 8px;
  animation: lds1 0.6s infinite;
}
.lds div:nth-child(2) {
  left: 8px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(3) {
  left: 32px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(4) {
  left: 56px;
  animation: lds3 0.6s infinite;
}

@keyframes lds1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.header {
  padding: 0;
  margin: 0;
}

.prog-cont {
  position: fixed;
  background-color: transparent;
  border: none;
  top: 0;
  padding: 0;
  z-index: 2;
}
.prog-cont div {
  position: fixed;
  background: linear-gradient(100deg, rgb(27, 68, 96) 15%, rgb(73, 182, 255) 70%, rgb(187, 228, 255) 95%);
  height: 10px;
}

#eclipse {
  width: 150px;
  height: 150px;
  margin: 15px;
  background-color: #000814;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  #eclipse {
    width: 100px;
    height: 100px;
  }
}
#eclipse img {
  width: 80%;
  object-fit: contain;
}

#eclipse:before,
#eclipse:after {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 90px 90px;
}
@media screen and (max-width: 767px) {
  #eclipse:before,
#eclipse:after {
    width: 100px;
    height: 100px;
    transform-origin: 60px 60px;
  }
}

#eclipse:before {
  top: 0;
  left: 0;
  background: rgba(246, 0, 152, 0.576);
  box-shadow: 0 0 200px rgba(255, 0, 123, 0.821);
  animation-name: Halo1;
  animation-duration: 4s;
}

#eclipse:after {
  top: 0;
  left: 0;
  background: rgba(0, 234, 255, 0.492);
  box-shadow: 0 0 200px rgba(0, 234, 255, 0.833);
  animation-name: Halo2;
  animation-duration: 5s;
}

@keyframes Halo1 {
  from {
    transform: rotateZ(0deg);
    opacity: 0.2;
  }
  to {
    transform: rotateZ(360deg);
    opacity: 1;
  }
}
@keyframes Halo2 {
  from {
    transform: rotateZ(0deg);
    opacity: 1;
  }
  to {
    transform: rotateZ(360deg);
    opacity: 0.2;
  }
}
.titulo {
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 10px 30px;
  background-color: #000814;
  border-radius: 50px;
}
@media screen and (max-width: 767px) {
  .titulo b {
    font-size: 2rem;
  }
}
.titulo b span {
  animation: blink linear infinite 2s;
}
.titulo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
  -webkit-animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
nav {
  position: fixed;
  top: 150px;
  right: 0;
  width: 80px;
  z-index: 2;
}
nav .nav-content {
  transform: rotate(-45deg);
}
nav .nav-content .toggle-btn,
nav .nav-content span a {
  height: 60px;
  width: 60px;
  background: #000814;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
nav .nav-content .toggle-btn {
  font-size: 35px;
  color: #f8f9fa;
  z-index: 2;
  cursor: pointer;
  transform: rotate(-225deg);
  transition: all 0.6s ease;
}
nav .nav-content span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}
nav .nav-content span a {
  text-decoration: none;
  transform: rotate(45deg);
  cursor: pointer;
}
nav .nav-content span a i {
  font-size: 24px;
  color: #a4dbff;
  transform: rotate(calc(var(--i) * -45deg));
  opacity: 0.8;
  transition: 0.2s;
}
nav .nav-content span a:hover i {
  opacity: 1;
}

nav.open .toggle-btn {
  transform: rotate(0deg);
}
nav.open .nav-content span {
  transform: rotate(calc(var(--i) * 45deg)) translateY(120px);
  opacity: 1;
}

.contenedor {
  background-color: rgba(0, 8, 20, 0.7843137255);
  margin: 35px auto 10%;
  padding: 80px 20px;
  border-radius: 50px 0 50px 0;
}
.contenedor h2 {
  color: #49b6ff;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2.5rem;
}
@media screen and (max-width: 767px) {
  .contenedor h2 {
    font-size: 2rem;
  }
}

.m-btn {
  background-color: #404040;
  border-radius: 2px;
  border-style: none;
  box-shadow: 1px 0px #202020, 0px 1px #202020, 2px 1px #202020, 1px 2px #202020, 3px 2px #202020, 2px 3px #202020, 4px 3px #202020, 3px 4px #202020, 5px 4px #202020, 4px 5px #202020, 6px 5px #202020, 5px 6px #202020;
  color: #f8f9fa;
  cursor: pointer;
  display: block;
  font: normal 12px "Roboto", sans-serif;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.3s ease all;
}

.m-btn:active {
  box-shadow: 1px 0px #202020, 0px 1px #202020, 2px 1px #202020, 1px 2px #202020, 3px 2px #202020, 2px 3px #202020, 4px 3px #202020, 3px 4px #202020;
  transform: translate(2px);
}

.aplicar:hover,
.aplicar:focus {
  background-color: #0b8808;
}

.limpiar:hover,
.limpiar:focus {
  background-color: #FB8500;
}

.cerrar:hover,
.cerrar:focus {
  background-color: #9e2a2b;
}

.icon-close:hover {
  color: #d81159;
}

.mi-modal {
  color: #f8f9fa;
  background: rgba(45, 45, 45, 0.9607843137);
  border-radius: 10px;
}

.mi-m-title {
  font-family: "Roboto Slab", serif;
}
.mi-m-title i {
  color: #FB8500;
}

.m-section > * {
  padding: 0.55em 1.5rem;
}

.m-select select {
  margin: 0 0 2rem 0;
  padding-left: 2rem;
  width: 100%;
  border-radius: 50px 50px 0 0;
  border: none;
  background-color: #11151c;
  color: #f8f9fa;
}
.m-select select option {
  font-size: 1rem;
  background-color: #11151c;
}

.icon-close {
  background-color: transparent;
  color: #49b6ff;
  border: none;
}

.sub {
  border-top: 1px solid #49b6ff;
}

.mobile-bg {
  background-color: transparent;
  border: none;
}

.close {
  display: none;
  right: 0;
  transform: translate(-30%, -200%);
}
@media screen and (max-width: 992px) {
  .close {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .close {
    transform: translate(10%, -400%);
  }
}
.close:hover {
  color: #9e2a2b;
}

.content {
  height: 600px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .content {
    max-width: 920px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    margin-top: 100px;
    height: auto;
    min-height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  .content {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .content {
    margin-bottom: 20px;
  }
}
.content .bg-shape {
  height: 100%;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
  border-radius: 30px;
  padding: 45px 40px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .content .bg-shape {
    width: 45%;
  }
}
@media screen and (max-width: 992px) {
  .content .bg-shape {
    width: 90%;
    height: 290px;
    align-items: flex-start;
    padding: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767px) {
  .content .bg-shape {
    padding: 30px;
    width: 95%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 576px) {
  .content .bg-shape {
    height: 200px;
  }
}
.content .bg-shape img {
  object-fit: contain;
  width: 510px;
  display: block;
  object-position: left center;
  opacity: 0.5;
  transform: rotate(-90deg) translateY(-50%);
  max-width: inherit;
  left: 10px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .content .bg-shape img {
    width: 430px;
    left: 10px;
  }
}
@media screen and (max-width: 992px) {
  .content .bg-shape img {
    transform: none;
    width: 100%;
    position: relative;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 100%;
    object-position: top center;
  }
}
.content .product-img {
  position: absolute;
  z-index: 2;
  width: 500px;
  left: 25%;
  transform: translateX(-45%);
  max-height: 500px;
  height: 100%;
  pointer-events: none;
}
@media screen and (max-width: 1200px) {
  .content .product-img {
    width: 430px;
    left: 20%;
  }
}
@media screen and (max-width: 992px) {
  .content .product-img {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 350px;
  }
}
@media screen and (max-width: 767px) {
  .content .product-img {
    width: 100%;
    max-width: 400px;
    top: 30px;
    height: 390px;
  }
}
@media screen and (max-width: 576px) {
  .content .product-img {
    max-width: 300px;
    height: 300px;
  }
}
.content .product-img .img-item {
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-130px);
  opacity: 0;
  transition: all 0.3s;
}
.content .product-img .img-item img {
  max-width: 100%;
  object-fit: contain;
  object-position: center right;
}
.content .product-img .img-item.active {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
  transition-delay: 0.3s;
}
.content .product-slider {
  width: 75%;
  height: 85%;
  border-radius: 30px;
  box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 1200px) {
  .content .product-slider {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .content .product-slider {
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: relative;
    top: 0;
    margin-top: 170px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .content .product-slider {
    border-radius: 20px;
  }
}
@media screen and (max-width: 576px) {
  .content .product-slider {
    width: 85%;
    margin-top: 130px;
  }
}
.content .product-slider .prev {
  left: -30%;
  transform: translate(-100%, -50%);
}
@media screen and (max-width: 1200px) {
  .content .product-slider .prev {
    left: -21%;
  }
}
@media screen and (max-width: 992px) {
  .content .product-slider .prev {
    left: 0;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 576px) {
  .content .product-slider .prev {
    transform: translate(20%, -50%);
  }
}
.content .product-slider .next {
  right: 0;
  transform: translate(50%, -50%);
}
@media screen and (max-width: 576px) {
  .content .product-slider .next {
    transform: translate(-20%, -50%);
  }
}
.content .product-slider .next.disabled,
.content .product-slider .prev.disabled {
  cursor: not-allowed;
}
.content .product-slider .next:focus,
.content .product-slider .prev:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .ps-item {
    height: auto;
  }
}

.ps-item.swiper-slide-active .ps-content > * {
  opacity: 1;
  transform: none;
}

.ps-item.swiper-slide-active .ps-content > *:nth-child(1) {
  transition-delay: 0s;
}

.ps-item.swiper-slide-active .ps-content > *:nth-child(2) {
  transition-delay: 0.2s;
}

.ps-item.swiper-slide-active .ps-content > *:nth-child(3) {
  transition-delay: 0.4s;
}

.ps-item.swiper-slide-active .ps-content > *:nth-child(4) {
  transition-delay: 0.6s;
}

.ps-card {
  background-image: linear-gradient(to top, #11151c 0%, #122d40 100%);
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
@media screen and (max-width: 992px) {
  .ps-card {
    align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .ps-card {
    border-radius: 20px;
  }
}
.ps-card .ps-content {
  color: #f8f9fa;
  padding-top: 1px;
  position: relative;
  z-index: 2;
  width: 100%;
  padding-left: 220px;
  padding-right: 10px;
}
@media screen and (max-width: 1200px) {
  .ps-card .ps-content {
    padding-left: 180px;
  }
}
@media screen and (max-width: 992px) {
  .ps-card .ps-content {
    padding: 20px 20px 100px;
    padding-top: 280px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .ps-card .ps-content {
    padding: 20px 30px 50px;
    padding-top: 300px;
  }
}
@media screen and (max-width: 576px) {
  .ps-card .ps-content {
    padding-top: 220px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ps-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 41px;
  line-height: 1.2em;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  .ps-title {
    font-size: 34px;
  }
}
@media screen and (max-width: 576px) {
  .ps-title {
    font-size: 24px;
  }
}

.ps-price {
  display: block;
  font-size: 42px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  .ps-price {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  .ps-price {
    font-size: 30px;
  }
}
.ps-price sup {
  top: -20px;
  font-size: 65%;
}

.product-ctr {
  display: flex;
  min-height: 150px;
  margin-top: 40px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
@media screen and (max-width: 767px) {
  .product-ctr {
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 100%;
    margin: 35px 0;
    height: 1px;
  }
}
.product-ctr .product-inf {
  text-align: justify;
  width: 240px;
}
.product-ctr .product-inf ul {
  padding-left: 0.5rem;
}
.product-ctr .product-inf ul li {
  font-size: 0.7rem;
  list-style: none;
}
.product-ctr .hr-vertical {
  width: 1px;
  background: #9fa3a7;
  align-self: stretch;
  margin: 0 15px;
  flex-shrink: 0;
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .product-ctr .hr-vertical {
    width: 100%;
    margin: 15px 0;
    height: 1px;
  }
}

.ps-btn {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.5s;
}
.ps-btn .ps-cart {
  box-shadow: 0 7px 99px 0 rgba(216, 17, 90, 0.676);
  background-color: #d81159;
  border: none;
  color: #f8f9fa;
  padding: 10px 30px;
  border-radius: 50px;
  min-height: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 40px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .ps-btn .ps-cart {
    margin-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .ps-btn .ps-cart {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.ps-btn .ps-fav {
  color: #afafaf;
  background: none;
  border: none;
  position: relative;
  padding-left: 25px;
  outline: none;
  cursor: pointer;
}
.ps-btn .heart {
  display: block;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%) scale(0.7);
  top: 50%;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background: url("https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.ps-btn .heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
.ps-btn .ps-fav:focus {
  outline: none;
}

.sw {
  width: 75%;
  border-radius: 10px;
}
@media screen and (max-width: 991px) {
  .sw {
    width: 100%;
  }
}
.sw .swiper-wrapper div img {
  width: 100%;
}
.sw .sw-cl {
  color: #d81159;
}
@media screen and (max-width: 576px) {
  .sw .sw-n,
.sw .sw-p {
    display: none;
  }
}

.service {
  margin-bottom: 20px;
}
.service h3 {
  margin-bottom: 6px;
  color: #49b6ff;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .service h3 {
    font-size: 1.2rem;
  }
}
.service h3 span {
  display: inline-block;
  background: radial-gradient(circle, rgb(216, 17, 89) 0%, rgb(10, 10, 10) 80%);
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
  width: 30px;
  color: #edf6f9;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  border-radius: 50%;
}
.service p {
  color: #edf6f9;
}
@media screen and (max-width: 767px) {
  .service p {
    font-size: 0.8rem;
  }
}
.service ul li {
  color: #edf6f9;
  margin: 0 50px;
}
@media screen and (max-width: 767px) {
  .service ul li {
    font-size: 0.8rem;
  }
}

.preg-frec {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #afafaf;
}
.preg-frec .preg {
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}
.preg-frec .preg .btn-preg {
  background-color: transparent;
  color: #f8f9fa;
  font-weight: 400;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .preg-frec .preg .btn-preg {
    font-size: 1rem;
  }
}
.preg-frec .preg .btn-preg::after {
  content: none;
}
.preg-frec .preg .btn-preg.active {
  color: #d81159;
}
.preg-frec .resp-cont .resp {
  margin-left: 1rem;
  color: #f8f9fa;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .preg-frec .resp-cont .resp {
    font-size: 0.8rem;
  }
}

.icon-chevron {
  margin-left: auto;
  color: #edf6f9;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .icon-chevron {
    font-size: 20px;
  }
}

.rotate {
  transform: rotate(-180deg);
  transition: 0.3s;
  color: #49b6ff;
}

.form-contact {
  margin: 1em auto;
  padding: 50px 0;
  width: 80%;
}
@media screen and (max-width: 991px) {
  .form-contact {
    width: 85%;
  }
}
.form-contact .ctn-inputs {
  margin-bottom: 50px;
  position: relative;
}
.form-contact .ctn-inputs #nombre {
  text-transform: capitalize;
}
.form-contact .ctn-inputs .support-text-form-contact {
  color: #afafaf;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.3s ease all;
  user-select: none;
}
.form-contact .ctn-inputs .support-text-form-contact.active-input-form-contact {
  color: #7a7a7a;
  font-size: 12px;
  top: -20px;
}
.form-contact .ctn-inputs .bar-input-effect {
  display: block;
  position: relative;
}
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon {
  bottom: 1rem;
  color: #7a7a7a;
  cursor: pointer;
  display: none;
  font-size: 12px;
  position: absolute;
  right: 1%;
}
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:hover,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:focus,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:active {
  color: #555;
}
.form-contact .ctn-inputs .bar-input-effect:before {
  content: "";
  background-color: #0b8808;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: 0.3s ease all;
  width: 0;
}
.form-contact .ctn-inputs .bar-input-effect.active-input-form-contact:before {
  width: 100%;
}
.form-contact .ctn-inputs .error-input-form-contact {
  color: #f35252;
  display: inline-block;
  font: normal 12px "Nunito Sans", sans-serif;
  line-height: 15px;
  position: relative;
  top: 5px;
}
.form-contact .ctn-inputs .inline-block {
  display: inline-block;
}
.form-contact .ctn-inputs .effect-input {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  color: #f8f9fa;
  border-bottom: 1px solid #49b6ff;
  display: block;
  letter-spacing: 1px;
  padding: 1em 20px 1em 5px;
  text-transform: lowercase;
  width: 100%;
}
.form-contact .ctn-inputs .effect-input:-webkit-autofill,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:hover,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:focus,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px #f8f9fa inset;
}
.form-contact .ctn-inputs textarea {
  height: 100px;
  line-height: 20px;
  resize: none;
}
.form-contact .ctn-inputs textarea::-webkit-scrollbar {
  width: 5px;
  display: block;
}
.form-contact .ctn-inputs textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.form-contact .ctn-middle {
  display: inline-block;
  margin-right: 10px;
  width: 40%;
}
@media screen and (max-width: 991px) {
  .form-contact .ctn-middle {
    width: 60%;
  }
}

.validate-input:invalid {
  border-bottom-color: #f35252;
}

.validate-input:invalid + .bar-input-effect:before {
  background-color: #f35252;
}

.validate-input:invalid + .bar-input-effect .clear-input-icon {
  color: #f35252;
}

.validate-input:invalid + .bar-input-effect .clear-input-icon:hover,
.validate-input:invalid + .bar-input-effect .clear-input-icon:focus,
.validate-input:invalid + .bar-input-effect .clear-input-icon:active {
  color: #f35252;
}

.shake {
  animation: shake 1s 1;
}

@keyframes shake {
  0%, 100% {
    transform: translateZ(0px);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
.sw-cont {
  padding-bottom: 80px;
  margin: 5% auto 7rem;
}

.card-sw {
  width: 350px;
  background-image: linear-gradient(to top, #11151c 0%, #122d40 100%);
  border-radius: 10px;
}
.card-sw .celular {
  width: 350px;
  height: 450px;
}
.card-sw .celular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-sw .detail {
  padding: 25px 20px;
  text-align: center;
}
.card-sw .detail h3 {
  margin: 0;
  font-size: 20px;
  color: #f8f9fa;
}
.card-sw .detail span {
  color: #49b6ff;
}

.swiper-pagination-bullet-active {
  background: #d81159;
}

.search-filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}
.search-filter .input-box {
  position: relative;
  height: 48px;
  max-width: 48px;
  border-radius: 1.5em;
  margin-right: 3rem;
  background-color: #11151c;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 15px 30px -10px rgba(57, 124, 202, 0.5);
  margin-top: 1rem;
}
.search-filter .input-box input {
  border: none;
  height: 100%;
  width: 100%;
  color: #f8f9fa;
  background-color: transparent;
}
.search-filter .input-box .search {
  height: 100%;
  top: 0;
  left: 0;
  width: 55px;
  border-radius: 10px;
  background-color: #2d2d2d;
  position: absolute;
}
.search-filter .input-box .search .icon-search {
  color: #f8f9fa;
  transform: translateY(-50%) rotate(90deg);
}
.search-filter .input-box .b-close {
  right: 15px;
  color: #49b6ff;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}
.search-filter .input-box .b-close:hover {
  cursor: pointer;
  color: #d81159;
}
.search-filter .input-box.open {
  max-width: 350px;
  padding: 0 15px 0 65px;
}
.search-filter .input-box.open .icon-search {
  transform: translateY(-50%) rotate(0);
}
.search-filter .input-box.open .b-close {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}
.search-filter .filter-btn {
  margin-top: 1rem;
  flex-shrink: 0;
  border: none;
  color: #f8f9fa;
  background: rgba(45, 45, 45, 0.9607843137);
  padding: 0.75em 1em;
  border-radius: 10px;
  text-transform: uppercase;
  margin-right: 0.5em;
  box-shadow: 0 15px 30px -10px rgba(57, 124, 202, 0.5);
}

.product-search {
  padding: 2rem;
  margin-top: 5rem;
}
.product-search .product {
  position: relative;
  width: 350px;
  height: 550px;
  background-image: linear-gradient(to top, #11151c 0%, #122d40 100%);
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .product-search .product {
    width: 300px;
    height: 500px;
  }
}
.product-search .product .card-mobile {
  position: relative;
  width: 100%;
  padding-top: 20px;
  z-index: 1;
}
.product-search .product .card-mobile img {
  max-width: 80%;
  transition: 0.5s;
}
.product-search .product::before {
  content: "";
  position: absolute;
  top: -40%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  transform: skewY(345deg);
  transition: 0.5s;
}
.product-search .product:hover::before {
  top: -50%;
  transform: skewY(390deg);
}
.product-search .product::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6.5em;
  color: rgba(0, 0, 0, 0.1);
}

.product:hover .card-mobile img {
  max-width: 60%;
}

.product:hover .card-infos .btn-ver-mas {
  top: 10px;
  opacity: 1;
}

.card-infos {
  position: relative;
  padding-top: 50px;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}
.card-infos h2 {
  color: #f8f9fa;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}
.card-infos h3 {
  color: #49b6ff;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.card-infos .btn-ver-mas {
  cursor: pointer;
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #f8f9fa;
  text-decoration: none;
  background-color: #d81159;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  transition: 0.5s;
}
.card-infos .btn-ver-mas:hover {
  background: #11151c;
  box-shadow: 0px 2px 10px 5px #d81159;
  color: #d81159;
}

.search-cel {
  display: none;
}

.hidden {
  display: none;
}

footer {
  padding: 3rem 8%;
  background-color: #11151c;
  border-top-left-radius: 90%;
}

.logof {
  width: 150px;
  margin-top: 5rem;
}

.copyright {
  color: #edf6f9;
  opacity: 0.3;
  font-family: Roboto Condensed;
  text-align: center;
}

.titulo-f b span {
  animation: blink linear infinite 2s;
}

.titulo-f b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

.social {
  margin-top: 3rem;
}
.social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.social ul li {
  margin: 0px 15px;
  margin-bottom: 4rem;
}
.social ul li a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: #f8f9fa;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 576px) {
  .social ul li a {
    width: 25px;
    height: 25px;
  }
}
.social ul li a i {
  font-size: 20px;
  color: #555;
  line-height: 30px;
  transition: 0.5s;
}
@media screen and (max-width: 576px) {
  .social ul li a i {
    line-height: 25px;
    font-size: 15px;
  }
}
.social ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b2b2b2;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}
@media screen and (max-width: 576px) {
  .social ul li a::before {
    top: 8px;
    left: -15px;
    width: 15px;
  }
}
.social ul li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #e5e5e5;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}
@media screen and (max-width: 576px) {
  .social ul li a::after {
    bottom: -15px;
    left: -8px;
    height: 15px;
  }
}
.social ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
.social ul li:hover a i {
  color: #f8f9fa;
}
.social ul li:hover:nth-child(1) a {
  background-color: #3b5999;
}
.social ul li:hover:nth-child(1) a::before {
  background-color: #2f477a;
}
.social ul li:hover:nth-child(1) a::after {
  background-color: #4e69a3;
}
.social ul li:hover:nth-child(2) a {
  background-color: #25d366;
}
.social ul li:hover:nth-child(2) a::before {
  background-color: #20b959;
}
.social ul li:hover:nth-child(2) a::after {
  background-color: #40d979;
}
.social ul li:hover:nth-child(3) a {
  background-color: #e4405f;
}
.social ul li:hover:nth-child(3) a::before {
  background-color: #b6334c;
}
.social ul li:hover:nth-child(3) a::after {
  background-color: #e6536f;
}
.social ul li:hover:nth-child(4) a {
  background-color: #dd4b39;
}
.social ul li:hover:nth-child(4) a::before {
  background-color: #b03c2d;
}
.social ul li:hover:nth-child(4) a::after {
  background-color: #e05d4c;
}
.social ul li:hover:nth-child(5) a {
  background-color: #c20d0d;
}
.social ul li:hover:nth-child(5) a::before {
  background-color: #aa0b0b;
}
.social ul li:hover:nth-child(5) a::after {
  background-color: #d14a4a;
}

/*# sourceMappingURL=style.css.map */
