/*
---------->TIPOGRAFÍAS<----------
font-family: 'Bebas Neue', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Source Serif Pro', serif;
font-family: 'Ubuntu', sans-serif; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

:root {
  --wh: #f8f9fa;
  --bl: #000814;
  --bltrasp: #000814c8;
  --pk: #d81159;
  --lighbl: #49b6ff;
  --wh2: #edf6f9;
  --gr: #afafaf;
  --swiper-theme-color: #d81159;
  --bl2: #11151c;
  --mf: #2d2d2df5;
  --cf: #f8f9fa;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

::-webkit-scrollbar {
  display: none;
}

/*---------->ESTILOS DE LA INTRO<----------*/
.intro {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: var(--bl2);
  transition: 1s;
}

.intro img {
  height: 40%;
  width: 40%;
  object-fit: contain;
}

.logo {
  font-family: "Bebas Neue";
  font-size: 3.5rem;
  color: white;
}

.logo-parts {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-parts.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-parts.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/*--------->ESTILOS DEL CARGANDO<---------*/
.lds {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  background: var(--wh);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  border-radius: 50%;
}

.lds div:nth-child(1) {
  left: 8px;
  animation: lds1 0.6s infinite;
}

.lds div:nth-child(2) {
  left: 8px;
  animation: lds2 0.6s infinite;
}

.lds div:nth-child(3) {
  left: 32px;
  animation: lds2 0.6s infinite;
}

.lds div:nth-child(4) {
  left: 56px;
  animation: lds3 0.6s infinite;
}

@keyframes lds1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*---------->ESTILOS DEL FONDO<----------*/
#particles-js {
  background: var(--wh);
  width: 100%;
  height: 100%;
  z-index: -2;
}

/*---------->ESTILOS DEL LA BARRA DE PROGRESO<----------*/

.progress-cont {
  position: fixed;
  background-color: transparent;
  top: 0;
  padding: 0;
  z-index: 2;
}

.prog-bar {
  position: fixed;
  background-color: var(--lighbl);
  height: 10px;
  width: 0%;
}

/*---------->ESTILOS DEL LOGO<---------*/
#eclipse {
  width: 150px;
  height: 150px;
  margin-top: 15px;
  background-color: var(--bl);
  border-radius: 50%;
}

#eclipse img {
  height: 82%;
  width: 82%;
  object-fit: contain;
}

#eclipse:before,
#eclipse:after {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 90px 90px;
}

#eclipse:before {
  top: 0;
  left: 0;
  background: rgba(246, 0, 152, 0.576);
  box-shadow: 0 0 200px rgba(255, 0, 123, 0.821);
  animation-name: Halo1;
  animation-duration: 4s;
}

#eclipse:after {
  top: 0;
  left: 0;
  background: rgba(0, 234, 255, 0.492);
  box-shadow: 0 0 200px rgba(0, 234, 255, 0.833);
  animation-name: Halo2;
  animation-duration: 5s;
}

@keyframes Halo1 {
  from {
    transform: rotateZ(0deg);
    opacity: 0.2;
  }

  to {
    transform: rotateZ(360deg);
    opacity: 1;
  }
}

@keyframes Halo2 {
  from {
    transform: rotateZ(0deg);
    opacity: 1;
  }

  to {
    transform: rotateZ(360deg);
    opacity: 0.2;
  }
}

/*---------->ESTILOS DEL TITULO<---------*/
.titulo {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: var(--bl);
  border-radius: 50px;
}

.titulo b {
  font-size: 3rem;
  font-family: "Source Code Pro";
  color: var(--wh);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--pk), 0 0 0.5em var(--pk),
    0 0 0.1em var(--pk), 0 10px 3px var(--bl);
}

.titulo b span {
  animation: blink linear infinite 2s;
}

.titulo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {
    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/*---------->ESTILOS DEL MENU<---------*/
nav {
  top: 20px;
  right: 0;
  width: 80px;
  height: 300px;
  cursor: grab;
  z-index: 2;
}

nav .nav-content {
  transform: rotate(-45deg);
}

.nav-content .toggle-btn,
.nav-content span a {
  height: 60px;
  width: 60px;
  background: var(--bl);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.nav-content .toggle-btn {
  font-size: 35px;
  color: var(--wh);
  z-index: 2;
  cursor: pointer;
  transform: rotate(-225deg);
  transition: all 0.6s ease;
}

nav.open .toggle-btn {
  transform: rotate(0deg);
}

.nav-content span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}

nav.open .nav-content span {
  transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);
  opacity: 1;
}

.nav-content span a {
  text-decoration: none;
  transform: rotate(45deg);
  cursor: pointer;
}

.nav-content span a i {
  font-size: 24px;
  color: #a4dbff;
  transform: rotate(calc(var(--i) * (360deg / -8)));
  opacity: 0.8;
  transition: 0.2s;
}

.nav-content span a:hover i {
  opacity: 1;
}

/*---------->ESTILOS DEL CONTENEDOR DE LAS SECCIONES<---------*/
.contenedor {
  background-color: var(--bltrasp);
  margin: 35px auto 10%;
  padding: 80px 20px;
  border-radius: 40px;
}

/*---------->ESTILOS DE LA GALERÍA<---------*/
.sw {
  width: 75%;
  border-radius: 10px;
}

.swiper-slide img {
  width: 100%;
}

/*---------->ESTILOS DE NUESTROS SERVICIOS<---------*/
.subtitulo {
  color: var(--lighbl);
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 2.5rem
}

.service {
  margin-bottom: 20px;
}

.n-service {
  margin-bottom: 6px;
  color: var(--lighbl);
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 1.5rem
}

.lista {
  display: inline-block;
  background: radial-gradient(circle, rgba(216, 17, 89, 1) 0%, rgba(10, 10, 10, 1) 80%);
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
  width: 30px;
  color: var(--wh2);
  font-family: "Roboto Mono";
  font-weight: 700;
  border-radius: 50%;
}

.service p {
  color: var(--wh2);
  font-family: "Inter";
}

.service ul li {
  color: var(--wh2);
  font-family: "Inter";
  margin: 0 50px;
}

/*---------->ESTILOS DEL PREGUNTAS FRECUENTES<---------*/
.faq-container {
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 1px solid var(--gr);
}

.faq-collapsible {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.first {
  border-top: 1px solid var(--gr);
}

.question {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--wh);
  font-family: "Roboto Condensed";
}

.question.active {
  color: var(--pk);
}

.faq-answer {
  overflow: hidden;
  transition: 0.5s;
  height: 0;
  color: var(--wh2);
}

.faq-answer p {
  padding: 10px 40px;
  font-size: 15px;
  font-family: "Inter";
  font-weight: 300;
}

.openresp {
  height: 100px;
  transform: translateY(0);
}

.fa-chevron-down {
  color: var(--wh2);
  font-size: 30px;
}

.rotate {
  transform: rotate(-180deg);
  transition: 0.3s;
  color: var(--lighbl);
}

/*---------->ESTILOS DEL FOOTER<---------*/
footer {
  padding: 3rem 8%;
  background-color: var(--bl2);
  border-top-left-radius: 90%;
}

.logof {
  width: 150px;
  margin: 1rem;
}

.copyright {
  color: var(--wh2);
  opacity: 0.3;
  font-family: "Roboto Condensed";
  text-align: center;
}

/*---------->ESTILOS DEL FOOTER REDES SOCIALES<---------*/
.social ul {
  margin-bottom: 3rem;
}

.social ul li {
  margin: 0 20px;
}

.social ul li a .fa {
  font-size: 20px;
  color: #555;
  line-height: 40px;
  transition: 0.5s;
}

.social ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(255, 255, 255, 0.5);
}

.social ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b2b2b2;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.social ul li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #e5e5e5;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.social ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.social ul li:hover .fa {
  color: #fff;
}

/*---------->ESTILOS DE FACEBOOK<---------*/
.social ul li:hover:nth-child(1) a {
  background-color: #3b5999;
}

.social ul li:hover:nth-child(1) a::before {
  background-color: #2f477a;
}

.social ul li:hover:nth-child(1) a::after {
  background-color: #4e69a3;
}

/*---------->ESTILOS DE WHATSAPP<---------*/
.social ul li:hover:nth-child(2) a {
  background-color: #25d366;
}

.social ul li:hover:nth-child(2) a::before {
  background-color: #20b959;
}

.social ul li:hover:nth-child(2) a::after {
  background-color: #40d979;
}

/*---------->ESTILOS DE INSTAGRAM<---------*/
.social ul li:hover:nth-child(3) a {
  background-color: #e4405f;
}

.social ul li:hover:nth-child(3) a::before {
  background-color: #b6334c;
}

.social ul li:hover:nth-child(3) a::after {
  background-color: #e6536f;
}

/*---------->ESTILOS DE GMAIL<---------*/
.social ul li:hover:nth-child(4) a {
  background-color: #dd4b39;
}

.social ul li:hover:nth-child(4) a::before {
  background-color: #b03c2d;
}

.social ul li:hover:nth-child(4) a::after {
  background-color: #e05d4c;
}

/*---------->ESTILOS DE UBICACIÓN<---------*/
.social ul li:hover:nth-child(5) a {
  background-color: #c20d0d;
}

.social ul li:hover:nth-child(5) a::before {
  background-color: #aa0b0b;
}

.social ul li:hover:nth-child(5) a::after {
  background-color: #d14a4a;
}

/*---------->ESTILOS DEL FORMULARIO CONTACTO<---------*/
form {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset,
    0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

textarea {
  height: 100px;
  line-height: 20px;
  resize: none;
}

.form-contact {
  margin: 1em auto;
  padding: 50px 0;
  width: 80%;
}

.form-contact .ctn-inputs {
  margin-bottom: 50px;
  position: relative;
}

.form-contact .ctn-middle {
  display: inline-block;
  margin-right: 10px;
  width: 40%;
}

.form-contact .ctn-inputs .effect-input:-webkit-autofill,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:hover,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:focus,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px #f2f2f2 inset;
}

.form-contact .ctn-inputs .support-text-form-contact {
  color: var(--gr);
  font-family: "Roboto";
  font-weight: 400;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.3s ease all;
  user-select: none;
}

.form-contact .ctn-inputs .support-text-form-contact.active-input-form-contact {
  color: #7d7d7d;
  font-size: 12px;
  top: -20px;
}

.form-contact .ctn-inputs .effect-input {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  color: var(--wh);
  border-bottom: 1px solid var(--lighbl);
  display: block;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1em 20px 1em 5px;
  text-transform: lowercase;
  width: 100%;
}

.form-contact .ctn-inputs .effect-input.inline-block {
  display: inline-block;
}

.form-contact .ctn-inputs .bar-input-effect:before {
  content: "";
  background-color: var(--pk);
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: 0.3s ease all;
  width: 0;
}

.form-contact .ctn-inputs .bar-input-effect {
  display: block;
  position: relative;
}

#contact_name_user_grupoamsi {
  text-transform: capitalize;
}

.form-contact .ctn-inputs .validate-input:invalid {
  border-bottom-color: #f53535;
}

.form-contact .ctn-inputs .validate-input:invalid+.bar-input-effect:before {
  background-color: #f53535;
}

.form-contact .ctn-inputs .bar-input-effect.active-input-form-contact:before {
  width: 100%;
}

.form-contact .ctn-inputs .bar-input-effect .clear-input-icon {
  bottom: 1rem;
  color: #7a7a7a;
  cursor: pointer;
  display: none;
  font-size: 12px;
  position: absolute;
  right: 1%;
}

.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:hover,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:focus,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:active {
  color: #4a4a4a;
}

.form-contact .ctn-inputs .validate-input:invalid+.bar-input-effect .clear-input-icon {
  color: #f15555;
}

.form-contact .ctn-inputs .validate-input:invalid+.bar-input-effect .clear-input-icon:hover,
.form-contact .ctn-inputs .validate-input:invalid+.bar-input-effect .clear-input-icon:focus,
.form-contact .ctn-inputs .validate-input:invalid+.bar-input-effect .clear-input-icon:active {
  color: #f14040;
}

.form-contact .ctn-inputs .error-input-form-contact {
  color: #f35252;
  display: inline-block;
  font: normal 12px "Nunito Sans", sans-serif;
  line-height: 15px;
  position: relative;
  top: 5px;
}

.form-contact .ctn-btns-form-contact {
  display: flex;
  justify-content: space-around;
}

.btn-form-contact {
  background-color: #404040;
  border-radius: 2px;
  border-style: none;
  box-shadow: 1px 0px #202020, 0px 1px #202020, 2px 1px #202020, 1px 2px #202020,
    3px 2px #202020, 2px 3px #202020, 4px 3px #202020, 3px 4px #202020,
    5px 4px #202020, 4px 5px #202020, 6px 5px #202020, 5px 6px #202020;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font: normal 12px "Montserrat", sans-serif;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.3s ease all;
}

.btn-form-contact:hover,
.btn-form-contact:focus {
  background-color: #5a5a5a;
}

.btn-form-contact:active {
  box-shadow: 1px 0px #202020, 0px 1px #202020, 2px 1px #202020, 1px 2px #202020,
    3px 2px #202020, 2px 3px #202020, 4px 3px #202020, 3px 4px #202020;
  transform: translate(2px);
}

.shake {
  animation: shake 1s 1;
}

@keyframes shake {

  0%,
  100% {
    transform: translateZ(0px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

/*---------->ESTILOS DE NUEVOS INGRESOS<---------*/
.sw-cont {
  padding-bottom: 80px;
  margin: 5% auto 7rem;
  
}

.card {
  width: 350px;
  background-color: var(--bl2);
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background: var(--pk);
}

.celular {
  width: 350px;
  height: 450px;
}

.celular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: center;
}

.detail h3 {
  margin: 0;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  color: var(--wh);
}

.detail span {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: var(--lighbl)
}

/*---------->ESTILOS DEL BUSCADOR<---------*/
.input-box {
  height: 43px;
  max-width: 43px;
  margin-bottom: 0.5em;
  margin-left: 15px;
  border-radius: 1.5em;
  background-color: var(--bl2);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-box.open {
  max-width: 350px;
}

.input-box input {
  border: none;
  height: 100%;
  width: 100%;
  font-family: "Inter";
  font-size: 16px;
  color: var(--wh);
  background-color: transparent;
}

.input-box.open {
  padding: 0 15px 0 65px;
}

.icon-search {
  height: 100%;
  top: 0;
  left: 0;
  width: 55px;
  border-radius: 10px;
  background-color: #2d2d2d;
}

.fa-magnifying-glass,
.input-box .b-close {
  position: absolute;
  top: 50%;
  font-size: 20px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.fa-magnifying-glass {
  color: var(--wh);
  transform: translateY(-50%) rotate(90deg);
}

.input-box.open .fa-magnifying-glass {
  transform: translateY(-50%) rotate(0);
}

.input-box .b-close {
  right: 15px;
  color: var(--lighbl);
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}

.input-box .b-close:hover {
  cursor: pointer;
  color: var(--pk);
}

.input-box.open .b-close {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}

/*---------->ESTILOS DEL FILTRO<---------*/
.cel-cont input {
  display: none;
}

.filter {
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 15px;
}

.filter__button {
  flex-shrink: 0;
  border: none;
  color: var(--wh);
  background: var(--mf);
  padding: 0.75em 1em;
  border-radius: 10px;
  text-transform: uppercase;
  margin-right: 0.5em;
  box-shadow: 0 15px 30px -10px rgba(57, 124, 202, 0.5);
}

.filter__current-filters {
  flex: 1 300px;
  padding: 0 0.5em 0.5em;
}

.filter__current-filter.filter-active {
  display: inline-block;
}

.filter__current-filter {
  display: none;
  background: var(--bl2);
  color: var(--lighbl);
  line-height: 1;
  padding: 0.15em 0.5em 0.15em 0.75em;
  margin: 0.5em 0.15em 0 0;
  border-radius: 1em;
}

.filter__current-filter label {
  padding: 0.25em;
}

.m-close {
  background-color: transparent;
  color: var(--lighbl);
  border: none;
}

.m-close:hover {
  color: var(--pk);
}

.filter-item {
  display: none;
}

.filter-item.filter-active {
  display: block;
}

/*---------->ESTILOS DEL MODAL<---------*/

.fondo {
  background-color: #fff;
}

.mi-modal {
  color: var(--wh);
  background: var(--mf);
  border-radius: 10px;
}

.modal-section>* {
  padding: 0.55em 1.5rem;
}

.modal-section-title {
  margin: 0;
}

.modal__filter-label {
  display: block;
}

.sub {
  border-top: 1px solid var(--lighbl);
}

.modal__filter-label::before {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  border: 4px solid transparent;
  background: var(--pk) center/contain no-repeat;
  border-radius: 6px;
  margin-right: 0.75em;
}

.modal__filter-label.filter-active::before {
  background-image: url('data:image/svg+xml;utf-8,        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">          <path fill="none" vector-effect="non-scaling-stroke" stroke="%23fff" stroke-width="2" d="M5 65 L35 95 L95 30"/>        </svg>');
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  z-index: 1;
}

.modal__scroll-area::-webkit-scrollbar {
  width: 6px;
}

.modal__scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset,
    0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.m-btn {
  background-color: #404040;
  border-radius: 2px;
  border-style: none;
  box-shadow: 1px 0px #202020, 0px 1px #202020, 2px 1px #202020, 1px 2px #202020, 3px 2px #202020, 2px 3px #202020, 4px 3px #202020, 3px 4px #202020, 5px 4px #202020, 4px 5px #202020, 6px 5px #202020, 5px 6px #202020;
  color: var(--wh);
  cursor: pointer;
  display: block;
  font: normal 12px "Roboto", sans-serif;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: 0.3s ease all;
}

.aplicar:hover,
.aplicar:focus {
  background-color: #0b8808;
}

.limpiar:hover,
.limpiar:focus {
  background-color: #b7b406;
}

.cerrar:hover,
.cerrar:focus {
  background-color: #9E2A2B;
}

/*---------->ESTILOS DEL LOS CARDS<---------*/
.products {
  padding: 5rem;
  gap: 3rem;
}

.product {
  position: relative;
  width: 350px;
  height: 550px;
  background: var(--bl2);
  border-radius: 20px;
  overflow: hidden;
}

.product::before {
  content: "";
  position: absolute;
  top: -40%;
  width: 100%;
  height: 100%;
  background: var(--cf);
  transform: skewY(345deg);
  transition: 0.5s;
}

.product:hover::before {
  top: -50%;
  transform: skewY(390deg);
}

.product::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6.5em;
  color: rgba(0, 0, 0, 0.1);
}

.product .card-mobile {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.product .card-mobile img {
  max-width: 80%;
  transition: 0.5s;
}

.product:hover .card-mobile img {
  max-width: 60%;
}

.product:hover .card-infos .info {
  top: 10px;
  opacity: 1;
}

.product .card-infos {
  position: relative;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.product .card-infos h3 {
  font-size: 18px;
  color: var(--wh);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Inter";
  font-weight: 700;
}

.product .card-infos .price {
  font-size: 24px;
  color: var(--lighbl);
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Inter";
}

.product .card-infos .info {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: var(--wh);
  text-decoration: none;
  background: var(--pk);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

/*---------->ESTILOS RESPONSIVO<---------*/
@media screen and (max-width: 991px) {

  /* Galería */
  .sw {
    width: 100%;
  }

  /* Formulario contacto */
  .form-contact {
    width: 85%;
  }

  .form-contact .ctn-middle {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  #eclipse {
    width: 100px;
    height: 100px;
  }

  #eclipse:before,
  #eclipse:after {
    width: 100px;
    height: 100px;
    transform-origin: 60px 60px;
  }

  .titulo b {
    font-size: 1.5rem;
  }
}