%dp-f {
  display: flex;
  justify-content: center;
  align-items: center;
}

%p-dp {
  position: relative;
  display: inline-block;
}

%icon-s {
  position: absolute;
  top: 50%;
  font-size: 20px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

%p-n {
  z-index: 3;
  display: inline-flex;
  border: none;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  outline: none;
  cursor: pointer;

  @media screen and (max-width: 992px) {
    top: 170px;
  }
}

%f-h{
  color: nth($colores, 1);
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  text-shadow: map-get($header, tit-ts);
}

%icon-m {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

%m-dp-f {
  display: flex;
  align-items: center;
}

%inter-3 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

%inter-4 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

%inter-5 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

%inter-7 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

%rc-5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
}

%rc-2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
}


